@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

/* Styling for navigation................................ */
.seeder-logo img {
    width: 120px;
}

.nav-background {
    height: 113px;
}

.btn-size {
    width: 160px;
    height: 46px;
    border-radius: 7.61px;
}  

.btn-size-getstarted {
    width: 297px;
    height: 70px;
    border-radius: 10px;
} 

.btn-size-createacct {
    width: 297px;
    height: 70px;
}

.btn-colour, .btn-colour-2 {
    background-color: #000000 !important;
}

.btn-colour-3 {
    background-color: #FFFFFF !important;
}

.btn-colour a, .btn-colour a:hover, .btn-size-createacct a, .btn-size-createacct a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-colour-signin {
    background-color: #FFFFFF !important;
    border: 1px solid #000000 !important;
}

.btn-colour-signin a, .btn-colour-signin a:hover, .btn-colour-3 a, .btn-colour-3 a:hover {
    text-decoration: none;
    color: #000000;
}

.btn-colour:hover, .nav-link:hover, .btn-colour-signin:hover, .btn-size-createacct:hover  {
    opacity: 0.7;
}

.nav-link {
    color: #111111;
    font-size: 12px !important;
    font-weight: 450 !important;
}

/* Styling for hero section................................ */
.hero-btn {
    margin-top: 4rem;
}

.hero-img {
    position: relative;
}

.hero-img img {
    margin-top: 4rem;
    width: 397px;
    height: 449px;
}

.hero-border {
    width: 381px;
    height: 518px;
    border: 1px solid #B8B6B6;
    position: absolute;
    z-index: -5000;
    top: 20px;
    left: 80px;
}

.hero-div {
    background: #FFFFFF;
    width: 230px;
    height: 101px;
    z-index: 5000;
    position: absolute;
    top: 475px;
    left: 0px
}

.hero-heading h1 {
    margin-top: 6rem;
    font-size: 72px;
    font-weight: 500;
}

.hero-heading p {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 300;
}

.hero-mobile {
    display: none;
}

/* Styling for financiers section................................ */
.financiers {
    margin-top: 8rem;
}

.financiers-content {
    display: grid;
    gap: 10px;
    grid-template-areas: "A A A A    C C C C"
                         "B B B B    C C C C"
                         "B B B B    D D D D"
                         "B B B B    D D D D";
}

.financiers-content p, .automated-content p {
    font-weight: 300;
}

.item-A {
    grid-area: A;
}

.item-B {
    grid-area: B;
}

.item-C {
    grid-area: C;
}

.item-D {
    grid-area: D;
}


.card-item {
    display: grid;
    gap: 65px;
    grid-template-areas: "A  B"
                         "A  B";
}

.item-1 {
    grid-area: A;
}

.item-2 {
    grid-area: B;
}

.pattern {
    /* width: 659px; */
    height: 101px;
    background-color: #3E9161;
    background-image: url(assets/pattern-bg.png);
    background-size: contain;
    border-radius: 10px;
}

.card-content {
    width: 384px;
    min-height: 279px;
    padding: 1.5rem;
    border-radius: 10px;
    line-height: 1.7rem;
}

.card-content p {
    margin-top: 1rem;
    font-weight: 300;
}

.card-content h5 {
    margin-top: 1rem;
    font-weight: 600;
}

.card-color {
    background-color: #D9FFDD;
}

.card-color-2 {
    background-color: #FFEDD9;
}

.hero-btn-2 {
    margin-top: 2rem;
}

.create-account-item h2 {
    font-size: 48px;
    line-height: 59px;
}

.create-account-item p {
    font-weight: 300;
    line-height: 26px;
}

/* automated giving section................................... */
.automated-giving {
    margin-top: 5rem;
}

.automated-content {
    display: grid;
    gap: 10px;
    grid-template-areas: "J K  K K "
                         "L L  M M";
}

.item-J {
    grid-area: J;
}

.item-K {
    grid-area: K;
}

.item-L {
    grid-area: L;
}

.item-M {
    grid-area: M;
}

.card-items {
    display: grid;
    gap: 0px;
    grid-template-areas: "E  F"
                         "E  F";
}

.item-3 {
    grid-area: E;
}

.item-4 {
    grid-area: F;
}

.hero-btn-3 {
    margin-top: 5.5rem;
}

.card-color-3 {
    background-color: #FFFCDE;
    background-image: url(./assets/leaf-img2.png);
    background-repeat: no-repeat;
    background-position: 40px -40px;
}

.card-color-4 {
    background-color: #DEF1FF;
    background-image: url(./assets/leaf-img.png);
    background-repeat: no-repeat;
    background-position: 40px -40px;
}

/* Honour section................................... */
.honour {
    margin-top: 7rem;
}

.pattern-2 {
    width: 670px;
    height: 101px;
    background-color: #F7F7F7;
    background-image: url(assets/pattern-bg-2.png);
    background-size: contain;
    border-radius: 10px;
}

.honour-contents {
    display: grid;
    gap: 10px;
    grid-template-areas: "X Y"
                         "X Y";
}

.item-X {
    grid-area: X;
}
 
.item-Y {
    grid-area: Y;
 }

 .honour-heading h5 {
    margin-left: 10.5rem;
    font-size: 32px;
 }

 .honour-heading p {
    font-weight: 300;
 }

 .break::after {
    content: "\a";
    white-space: pre;
 }

/* Partner section................................... */
 .partner-img img {
    width: 631px;
    height: 100%;
 }

 .partner-img-mobile img {
    display: none;
}

 .ministry-partner {
    background-color: #3E9161;
    width: 900px;
    position: relative;
 }

 .row {
    --bs-gutter-x: 0rem !important;
 }

 .ministry-partner-content {
    padding-left: 6.7rem !important;
    margin-top: 6rem !important;
    padding-right: 2rem !important;
 }

 /* Styling for footer section........................................ */

 .footer-container {
    background-color: #000000;
    height: 170px;
}

.footer-contents {
    padding-top: 3.5rem;
}

.footer-contents p {
    font-size: 12px;
    margin-top: 1rem;
}

@media only screen and (max-width: 991px) {
    .seeder-logo img {
        width: 79px;
    }

    .nav-background {
        height: 80px;
    }

    #seeder-nav {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
    }

    .btn-colour-signin {
        background-color: #000000 !important;
        border: 1px solid #FFFFFF!important;
    }

    .btn-colour-signin a, .btn-colour-signin a:hover {
        color: #FFFFFF;
    }

    .btn-size {
        width: 80px;
        height: 39px;
    }

    .hide-btn {
        display: none !important;
    }

    .hero-img {
        display: flex;
        justify-content: center !important;
        position: relative;
    }
 
    .hero-heading h1 {
        margin-top: 3rem;
        font-size: 45px;
        font-weight: 600;
    }

    .hero-btn {
        display: none;
    }

    .hero-heading-btn {
        position: relative;
    }
    
    .hero-heading-btn button {
      width: 100%; 
      margin-top: 3rem;
    }

    .hero-img img {
        margin-top: 4rem;
        width: 240px;
        height: 272px;
        border-radius: 15px;  
    }
    
    .hero-border {
        width: 208px;
        height: 284px;
        border: 1px solid #B8B6B6;
        position: absolute;
        z-index: -5000;
        top: 45px;
        left: 120px;
        border-radius: 15px;
    }
    
    .hero-div {
        background: #FFFFFF;
        width: 136px;
        height: 68px;
        z-index: 5000;
        position: absolute;
        top: 290px;
        left: 0px;
    }

    .hero-heading-btn {
        position: relative;
    }

    .hero-heading-btn button {
        width: 100%; 
        margin-top: 3rem;
    }

    .hero-mobile {
        display: block;
        margin-top: 3rem;
    }

    .financiers {
        margin-top: 4rem;
    }

    .financiers-content {
        display: grid;
        gap: 0px;
        grid-template-areas: "C C C C    C C C C"
                             "A A A A    A A A A"
                             "A A A A    A A A A"
                             "D D D D    D D D D";
    }

    .automated-content {
    display: grid;
    gap: 0px;
    grid-template-areas:
        "J"
        "L"
        "M";
}

    .financiers-content h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 28px;
        font-weight: 700;
    }

    .financiers-content p {
        margin-bottom: 2rem;
    }

    .card-item {
        display: grid;
        gap: 30px;
        grid-template-areas: "A  A"
                             "B  B";
    }

    .card-items {
    display: grid;
    gap: 30px;
    grid-template-areas: "E  E"
                         "F  F";
    }

    .btn-size-createacct {
        width: 100%;
    }

    .card-content,.card-color-3, .card-color-4 {
        width: 100%;
    }
    
    .honour {
        margin-top: 3rem;
    }

    .honour-contents {
        display: grid;
        gap: 10px;
        grid-template-areas: "X X"
                             "Y Y";
    }

    .pattern-2 {
        width: 100%;
    }

    .honour-heading h5 {
        margin-left: 0rem;
        margin-top: 2rem;
        font-size: 28px;
        font-weight: 700;
    }

    .honour-heading p {
        text-align: left !important;

    }

    .break::after {
        content: none;
     }
    

     .ministry-partner {
        height: 509px
     }

     .partner-img img {
        width: 445px;
        display: none;
    }

    .partner-img-mobile img {
        display: block;
        margin-bottom: 2.5rem;
    }

    .ministry-partner-content {
        padding-left: 2rem !important;
        margin-top: 6rem !important;
        padding-right: 2rem !important;
        text-align: center;
    }
}

@media only screen and (min-width: 0px) and (max-width: 374px) {
    .hero-border {
        top: 45px;
        left: 80px;
    }
    
    .hero-div {
        top: 290px;
        left: 0px;
    }
}

@media only screen and (max-width: 280px) {
    .hero-border {
        top: 45px;
        left: 50px !important;
    }  
}  

@media only screen and (min-width: 280px) and (max-width: 1023px) {
    .navbar-menu-items {
        display: none;
    }
}