@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

/* Styling for navigation................................ */
.seeder-logo img {
    width: 120px;
}

.nav-background {
    height: 113px;
}

.btn-size {
    width: 160px;
    height: 46px;
    border-radius: 7.61px;
}  

.btn-size-getstarted {
    width: 297px;
    height: 70px;
    border-radius: 10px;
} 

.btn-size-createacct {
    width: 297px;
    height: 70px;
    border-radius: 10px;
}

.btn-colour, .btn-colour-2 {
    background-color: #000000 !important;
}

.btn-colour a, .btn-colour a:hover, .btn-size-createacct a, .btn-size-createacct a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-colour-signin {
    background-color: #FFFFFF !important;
    border: 1px solid #000000 !important;
}

.btn-colour-signin a, .btn-colour-signin a:hover {
    text-decoration: none;
    color: #000000;
}

.btn-colour:hover, .nav-link:hover, .btn-colour-signin:hover, .btn-size-createacct:hover  {
    opacity: 0.7;
}

.nav-link {
    color: #111111;
    font-size: 12px !important;
    font-weight: 450 !important;
}

/* Styling for hero section................................ */
/* .hero {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    width: 100%;
    min-height: 500px;
    border-radius: 19px;
} */

/* .hero-container {
    margin-left: 5rem !important;
} */

.hero-btn {
    margin-top: 4rem;
}

.hero-img img {
    margin-top: 4rem;
    width: 397px;
    height: 449px;
}

.hero-border {
    width: 381px;
    height: 518px;
    border: 1px solid #B8B6B6;
    position: absolute;
    z-index: -5000;
    top: 145px;
    left: 955px;
}

.hero-div {
    background: #FFFFFF;
    width: 230px;
    height: 101px;
    z-index: 5000;
    position: absolute;
    top: 570px;
    left: 780px;
}

.hero-heading h1 {
    margin-top: 6rem;
    font-size: 72px;
    font-weight: 500;
}

.hero-heading p {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 300;
}

/* Styling for financiers section................................ */
.financiers {
    margin-top: 8rem;
}

.financiers-content {
    display: grid;
    gap: 10px;
    grid-template-areas: "A A A A    C C C C"
                         "B B B B    D D E E"
                         "B B B B    D D E E"
                         "B B B B    G G F F";
}

.financiers-content p {
    font-weight: 300;
}

.item-A {
    grid-area: A;
}

.item-B {
    grid-area: B;
}

.item-C {
    grid-area: C;
}

.item-D {
    grid-area: D;
}

.item-D {
    grid-area: E;
}

.item-D {
    grid-area: F;
}

.item-G {
    grid-area: G;
}

.card-item {
    display: grid;
    gap: 30px;
    grid-template-areas: "A  B"
                         "A  B";
}

.item-1 {
    grid-area: A;
}

.item-2 {
    grid-area: B;
}

.pattern {
    /* width: 659px; */
    height: 101px;
    background-color: #3E9161;
    background-image: url(assets/pattern-bg.png);
    background-size: contain;
    border-radius: 10px;
}

.track {
    width: 352px;
    height: 279px;
    padding: 1.5rem;
    border-radius: 10px;
    line-height: 1.7rem;
}

.track p {
    margin-top: 1rem;
    font-weight: 300;
}

.track h5 {
    margin-top: 1rem;
    font-weight: 600;
}


.track-color {
    background-color: #D9FFDD;
}

.track-color-2 {
    background-color: #FFEDD9;
}

.hero-btn-2 {
    margin-top: 2rem;
}

.create-account-item h2 {
    font-size: 48px;
    line-height: 59px;
}

.create-account-item p {
    font-weight: 300;
    line-height: 26px;
}

